---
layout: default
---
<div class="container">

	<div class="row">
		<div class="col-md-8">
			{% include breadcrumbs.html %}
		</div>
		<div class="col-md-4">
			{% include search.html %}
		</div>
	</div>

	<h1>{{ page.title }}</h1>
	<p>{{ page.description }}</p>

	<div class="content">{{ content }}</div>

	<div class="list-group posts">
		{% capture page_base %}/{{ page.path | remove: page.name}}{% endcapture %}
		{% for post in site.posts  %}
			{% capture post_base %}{{ post.url | remove: post.slug }}{% endcapture %}
			{% if post_base == page_base %}
				<a href="{{ post.url  }}" class="list-group-item">
					<h4 class="list-group-item-heading">{{ post.title }}</h4>
					<p class="list-group-item-text">{{ post.description }}</p>
				</a>
			{% endif %}
		{% endfor %}
	</div>

	{% for category in page.categories %}
		{% capture category_url %}{{ page.url }}{{ category }}/{% endcapture %}
		{% for site_pages in site.pages %}
			{% if site_pages.url == category_url %}
				<h2><a href="{{ site_pages.url }}">{{ site_pages.title }}</a></h2>
				<p>{{ site_pages.description }}</p>
			{% endif %}
		{% endfor %}
		<div class="list-group posts">
			{% for post in site.posts  %}
				{% if post.url contains category_url %}
					<a href="{{ post.url  }}" class="list-group-item">{{ post.title }}</a>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}

</div>
